#content {
    width: 100%;
    min-height: 570px;
}

.tab-container {
    position: relative;
    margin: 20px auto;
}

ul.tabs {
    display: flex;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.tabs button {
    display: inline-block;
    background: rgb(234, 219, 173);
    color: black;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 5px 25px 5px 15px;
    -webkit-clip-path: polygon(100% 0, 90% 0, 100% 100%, 0 100%, 0.5% 0);
    clip-path: polygon(100% 0, 90% 0, 100% 100%, 0 100%, 0.5% 0);
}

.tab-content {
    position: relative;
    width: 100%;
    height: 100%;

}

.hide {
    display: none;
}

.tab-content>div {
    padding: 10px;
    text-align: left;
    min-height: 200px;
    background: rgb(255, 233, 162);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);

}

ul.tabs button.active {
    background: rgb(255, 233, 162);
    color: black;
}