.intro {
    padding: 20px 40px;
    line-height: 25px;
    display: flex;
    flex-direction: row;
    gap: 40px;

    &__photo {
        background: rgb(255, 249, 218);
        padding: 20px 20px 40px 20px;
        width: fit-content;
        transform: rotate(2deg);
        img {
            width: 100%;
            min-width: 320px;
            max-width: 450px;
            filter: sepia(.8);
        }
    }
}

.redacted span {
    position: relative;
    white-space: pre;

    &:after {
        background: black;
        border-radius: 0.1em;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
        content: " ";
        width: 100%;
        height: 1.2em;
        left: 0;
        position: absolute;
        transform: skewY(-5deg) rotate(5deg);
    }

    &:hover::after {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .intro {
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media screen and (max-width: 540px) {
    .intro {
        flex-direction: column-reverse;

        &__photo {
            img {
                width: 100%;
                min-width: 100%;
            }
        }
    }
}